<!doctype html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<style>
  html,
  body {
    overflow: hidden;
  }
</style>

<body>
  <div id="app"></div>
  <script type="text/javascript"> window.logs = {{ .RapidashLog }}</script>
  <script type="text/javascript">{{ .BuildSource }}</script>
</body>
</html>